.footer {
    width: 100%;
    height: auto;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;    
    background-color: #fd8c8c;
}

.footer p {
    font-size: 1rem;
    font-weight: 700;
    color: #FFF;
    font-weight: 700;
} 